<!DOCTYPE html>
<html class="no-js" lang="en">
<html>

    <head>
        {{- partial "head.html" . -}}
    </head>
    
    <body>
        <!-- Start Preloader -->
        <div class="cs-preloader cs-accent_color cs-white_bg">
        <div class="cs-preloader_bg cs-center cs-accent_4_bg">
          <div class="cs-preloader_in cs-accent_15_border">
            <img src="/img/design-agency/logo.svg" alt="Logo">
          </div>
        </div>
        </div>
        <!-- End Preloader -->

        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}

        <!-- Start Video Popup -->
        <div class="cs-video_popup">
            <div class="cs-video_popup_overlay"></div>
            <div class="cs-video_popup_content">
              <div class="cs-video_popup_layer"></div>
              <div class="cs-video_popup_container">
                <div class="cs-video_popup_align">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="about:blank"></iframe>
                  </div>
                </div>
                <div class="cs-video_popup_close"></div>
              </div>
            </div>
        </div>
        <!-- End Video Popup -->

        <!-- Script -->
        <script src="/js/plugins/jquery-3.6.0.min.js"></script>
        <script src="/js/plugins/isotope.pkg.min.js"></script>
        <script src="/js/plugins/jquery.slick.min.js"></script>
        <script src="/js/plugins/lightgallery.min.js"></script>
        <script src="/js/plugins/jquery.counter.min.js"></script>
        <script src="/js/plugins/wow.min.js"></script>
        <script src="/js/main.js"></script>

    </body>
</html>
