{{ define "main" }}

<!-- navbar- -->
    <!-- Hero Area -->
    <div class="hero-area-l11 position-relative z-index-1 overflow-hidden">
      <div class="container position-relative">
        <div class="row position-relative justify-content-center">
          <div class="col-xl-8 col-lg-9 col-md-12 order-lg-1 order-1" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="content">
              <h1>PORONESIA<br class="d-none d-md-block"> Design Solution.</h1>
              <div class="row banner-l-11-bottom-content">
                <div class="col-lg-8 col-md-8 col-sm-10">
                  <p class="position-relative banner-main-content-l-11">Kami melayani jasa desain untuk berbagai hal, mulai dari sosial media, desain produk, spanduk, flyer, banner, dll.
                    <span class="line-left-content"></span>
                  </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 flex-y-center ">
                  <a class="btn l-11-hero-btn" href="#about"><i class="fas fa-angle-down d-inline-block"></i> &nbsp;&nbsp;Yuk Kenalan</a>
                </div>
                <!-- <div class="col-xl-3 col-lg-4">
                  <div class="compitable-text border-top d-inline-block">
                    <p>Social Media Branding yang didukung:</p>
                    <div class="compatible-icon flex-y-center img-grayscale">
                      <a href="#" class="font-size-13 mr-7"><img src="/image/l2/windows.svg" alt=""></a>
                      <a href="#" class="font-size-13 mr-7"><img src="/image/l2/apple.svg" alt=""></a>
                      <a href="#" class="font-size-13"><img src="/image/l2/penguine.svg" alt=""></a>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-9 order-lg-1 order-0" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <img src="image/l2/laptop-screen-2.png" alt="" class="w-100 hero-l11-main-image">
          </div>
        </div>
      </div>
      <div class="hero-shape-l11-1 d-none d-md-block">
        <img src="/image/l2/hero-shape-1.svg" alt="">
      </div>
      <div class="hero-shape-l11-2 d-none d-md-block">
        <img src="/image/l2/hero-shape-2.png" alt="">
      </div>
    </div>
    <!-- Brand-area -->
    <div class="brand-area-l11">
      <div class="container">
        <div class="row img-grayscale">
          <div class="col-lg-12" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <div class="brand-logos d-flex justify-content-center justify-content-xl-between align-items-center flex-wrap ">
              <div class="single-brand">
                <img src="image/l2/blackbar.png" alt="">
              </div>
              <div class="single-brand">
                <img src="image/l2/jsm.png" alt="">
              </div>
              <div class="single-brand">
                <img src="image/l2/cpp.png" alt="">
              </div>
              <div class="single-brand">
                <img src="image/l2/brand-logo-3.svg" alt="">
              </div>
              <div class="single-brand">
                <img src="image/l2/brand-logo-4.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-1 -->
    <div id="about" class="content-area-l-11-1">
      <div class="container">
        <div class="row align-items-center justify-content-lg-start justify-content-center">
          <div class="col-xl-6 col-md-5 col-md-10" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content-img position-relative z-index-1">
              <img src="image/l2/content-img1-1.png" alt="" class="w-100">
            </div>
          </div>
          <div class="offset-xxl-1 col-xxl-5 col-xl-6 col-lg-7 col-md-9" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content section-heading-5">
              <h2>
                Tim yang selalu Professional.
              </h2>
              <p>Tim kami mengerjakan setiap project dengan profesionalitas dan melayani setiap kebutuhan client kami.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-2  -->
    <div class="content-area-l-11-2">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between justify-content-center">
          <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-9 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content section-heading-5">
              <h2>
                Semua serba fleksibel.
              </h2>
              <div class="d-flex content-l-11-3-card">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="27" viewBox="0 0 32 27">
                  <g>
                    <g>
                      <g>
                        <path class="mypath1" fill="none" stroke="#258aff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M25.528 25.615v0h5.47v0-5.911c0-.56-.341-1.062-.86-1.27l-5.118-2.05a1.367 1.367 0 0 1-.86-1.267v-1.2a5.445 5.445 0 0 0 2.735-4.711V6.471a5.47 5.47 0 0 0-8.205-4.738">
                        </path>
                      </g>
                      <g>
                        <path class="mypath1" fill="none" stroke="#258aff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M19.367 19.846l-5.14-2.036a1.358 1.358 0 0 1-.864-1.257v-1.192a5.394 5.394 0 0 0 2.747-4.676V7.97c0-2.999-2.46-5.43-5.495-5.43-3.034 0-5.494 2.431-5.494 5.43v2.715a5.394 5.394 0 0 0 2.747 4.676v1.192c0 .555-.342 1.054-.864 1.26l-5.14 2.036c-.52.206-.863.703-.864 1.257v4.51h19.23v0-4.51c0-.555-.342-1.054-.863-1.26z">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
                <div class="content-body">
                  <h5>Harga yang fleksibel</h5>
                  <p>Tidak perlu takut mahal, kami memberikan harga sesuai kebutuhan Anda.</p>
                </div>
              </div>
              <div class="d-flex content-l-11-3-card">
                <img src="image/l2/settings.svg" alt="icon">
                <div class="content-body">
                  <h5>Pengerjaan yang fleksibel</h5>
                  <p>Butuh cepat atau butuh lama, kami selalu berusaha bekerja dengan maksimal.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 offset-xxl-2 col-xl-6 col-lg-5 col-md-9 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content-img">
              <img src="image/l2/content-img2.png" alt="" class="w-lg-auto w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area -->
    <div class="content-area-l-11-3 position-relative">
      <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-start">
          <div class="col-xl-6 col-lg-6 col-md-8 order-lg-1 order-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="content-img">
              <img src="image/l2/content-img1.png" alt="" class="w-100">
            </div>
          </div>
          <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-9 order-lg-1 order-1" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
            <div class="content section-heading-5">
              <h2>Kepuasan Client = Prioritas Kami.</h2>
              <p>Dapatkan feedback yang berbeda dari customer atau pelanggan Anda karena perubahan desain yang lebih modern dan profesional.</p>
              <!-- <ul class="list-unstyled pl-0">
                <li class="d-flex align-items-center">
                  <i class="fas fa-check"></i>Unlimited design possibility
                </li>
                <li class="d-flex align-items-center">
                  <i class="fas fa-check"></i>Completely responsive
                </li>
                <li class="d-flex align-items-center">
                  <i class="fas fa-check"></i>Easy to customize
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Area -->
    <div id="Feature" class="feature-l-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 px-lg-12 col-md-12">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <div class="section-heading-5">
                  <h2>
                    Satu Tempat, Semua Solusi
                  </h2>
                  <p>Semua kebutuhan untuk desain akan kami kerjakan dengan baik, termasuk feed Instagram untuk bisnis atau personal branding.</p>
                </div>
              </div>
            </div>
            <div class="row feature-l-11-items justify-content-center">
              <div class="col-md-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-bulb-63"></i>
                  </div>
                  <div class="content-body">
                    <h5>Kreatif</h5>
                    <p>Kreatifitas merupakan sebuah kewajiban bagi setiap Designer, tim kami tentu memilikinya.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-chat-46"></i>
                  </div>
                  <div class="content-body">
                    <h5>Komunikatif</h5>
                    <p>Apapun kebutuhan Anda tentang desain, tim kami akan membicarakannya dengan baik kepada Anda.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-archery-target"></i>
                  </div>
                  <div class="content-body">
                    <h5>Sesuai Target</h5>
                    <p>Kami mengerti tentang setiap kebutuhan desain Anda untuk pelanggan atau pemirsa Anda.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-opening-times-2"></i>
                  </div>
                  <div class="content-body">
                    <h5>Tepat Waktu</h5>
                    <p>Karena kepuasan Client kami adalah prioritas, maka ketepatan waktu pengerjaan juga prioritas kami.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-office"></i>
                  </div>
                  <div class="content-body">
                    <h5>Melayani Perusahaan</h5>
                    <p>Tidak hanya untuk personal branding, kami juga selalu siap melayani perusahaan.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-verified-2"></i>
                  </div>
                  <div class="content-body">
                    <h5>Keamanan Pembayaran</h5>
                    <p>Tidak perlu takut penipuan, sistem pembayaran kami menggunakan sistem perusahaan pihak ke-3.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial Section -->
    <div id="testimonial" class="testimonial-area-l-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-9" data-aos="fade-down" data-aos-duration="800" data-aos-once="true">
            <div class="section-heading-5 text-center">
              <h2>
                500+ Customers Trust Us
              </h2>
              <p>Kami selalu berkomitmen untuk memberikan pelayanan terbaik dari setiap aspek yang dibutuhkan seluruh Client kami.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
          <div class="col-xl-10 col-lg-12 col-md-10">
            <div class="testimonial-slider-l-11 position-relative">
              <div class="single-slide focus-reset">
                <div class="testimonial-card">
                  <p>
                    <span class="d-inline-block quote-size-1">“</span> Semua kebutuhan desain buat bisnis makanan gue jadi lebih keren dan profesional! Maju terus buat <strong>Poronesia</strong>, sanget rekomen banget buat temen-temen yang butuh jasa desain.”
                  </p>
                  <div class="d-flex user-details align-items-center">
                    <div class="customer-img">
                      <img src="image/l2/client-img-1.png" alt="">
                    </div>
                    <div class="user-identity">
                      <h5>Alif Vergara</h5>
                      <span>Pemilik Resto</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-slide focus-reset">
                <div class="testimonial-card">
                  <p>
                    <span class="d-inline-block quote-size-1">“</span> Semenjak pake layanan di <strong>Poronesia</strong>, semua kebutuhan social media jadi lebih teratur, ga pusing juga harus cari-cari karyawan, di sini udah profesional semua.”
                  </p>
                  <div class="d-flex user-details  align-items-center">
                    <div class="customer-img">
                      <img src="image/l2/client-img-2.png" alt="">
                    </div>
                    <div class="user-identity">
                      <h5>Rhonetta Ardelia</h5>
                      <span>Business Leader</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-slide focus-reset">
                <div class="testimonial-card rounded">
                  <p>
                    <span class="d-inline-block quote-size-1">“</span> Setelah pusing sama desain social media yang gitu-gitu aja, <strong>Poronesia</strong> menyelamatkan kepusingan gue wkwkwk. Hebat temen-temen di <strong>Poronesia!</strong>”
                  </p>
                  <div class="d-flex user-details  align-items-center">
                    <div class="customer-img">
                      <img src="image/l2/client-img-3.png" alt="">
                    </div>
                    <div class="user-identity">
                      <h5>Try Utami T.</h5>
                      <span>Business Owner</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter-area start -->
    <div id="contact"></div>
    <div class="newsletter-l-11">
      <div class="container">
        <div class="row justify-content-center news-l-11-main-bg position-relative">
          <div class="news-l-11-second-bg w-100 h-100"></div>
          <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <div class="content text-center">
              <h5>Siap Upgrade desain?</h5>
              <h2>Kami siap membantu!</h2>
              <p>Hubungi kami melalui tombol di bawah dan konsultasikan kebutuhan desain Anda kepada tim, kami akan selalu siap membantu Anda kapanpun.</p>
              <div class="btn-area">
                <a class="btn" href="#open-modal"><i class="fas fa-paper-plane d-inline-block"></i> Hubungi Kami</a>
              </div>
              <span>Anda bebas bertanya terkait layanan</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="open-modal" class="modal-window">
      <div>
        <a href="#contact" title="Close" class="modal-close">Close</a>
        <h1>Contact</h1>
        <div>Anda bisa menghubungi kami melalui Telegram / Email / Social Media kami di bawah ini:</div><br>
        <a href="https://t.me/PoronesiaBot" target="_blank"><i class="fab fa-telegram-plane fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://klikwa.net/poronesia" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://instagram.com/poronesiacom" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://m.me/1496950490595791" target="_blank"><i class="fab fa-facebook-messenger fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:team@poronesia.com"><i class="fas fa-envelope fa-2x"></i></a><!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/messages/compose?recipient_id=1504711049672474624" target="_blank"><i class="fab fa-twitter fa-2x"></i></a> -->
      </div>
    </div>

    <!-- Floating Button -->
    <div class="at-floating-navigation">
      <button class="at-floating-navigation__button" type="button"><i class="fa-solid fa-headset fa-xs"></i></button>
      <nav class="at-floating-navigation__menu">
        <header class="at-floating-navigation__user">
          <div class="at-floating-navigation__thumbnail">
            <img alt="Andy Tran" src="https://cdn.discordapp.com/attachments/821602342511706113/852753644875939870/poronesia-logo.png?size=400" />
          </div>
          <div class="at-floating-navigation__content">
            <h2 class="at-floating-navigation__title">Poronesia</h2>
            <p class="at-floating-navigation__description">
              Contact Us
            </p>
          </div>
        </header>
        <a class="at-floating-navigation__item" href="https://klikwa.net/poronesia" target="_blank">Whatsapp</a>
        <a class="at-floating-navigation__item" href="https://t.me/PoronesiaBot" target="_blank">Telegram</a>
        <a class="at-floating-navigation__item" href="https://instagram.com/poronesiacom" target="_blank">Instagram</a>
        <a class="at-floating-navigation__item" href="https://m.me/poronesia" target="_blank">Messenger</a>
        <a class="at-floating-navigation__item" href="mailto:team@poronesia.com" target="_blank">Email</a>
      </nav>
    </div>
    <!-- Floating Button End -->
    
{{ end }}