<footer class="footer-l-11 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-logo-l-11">
          <a href="#"><img src="image/logo/logo-black.png" alt="logo"></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-widget-l-11">
          <ul class="pl-0 list-unstyled d-flex flex-wrap justify-content-center align-items-end ">
            <li class="d-flex"><a href="https://xendit.store/poronesia" target="_blank">Digital Store</a></li>
            <li class="d-flex"><a href="#Feature">Features</a></li>
            <li class="d-flex"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="social-icons-l-11">
          <ul class="pl-0 list-unstyled d-flex  justify-content-center justify-content-md-end align-items-end ">
            <li class="d-flex flex-column justify-content-center"><a href="https://instagram.com/poronesiacom" target="_blank"><i
                                  class="fab fa-instagram"></i></a></li>
            <li class="d-flex flex-column justify-content-center"><a href="https://facebook.com/poronesia" target="_blank"><i
                                  class="fab fa-facebook-f"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>