<header class="site-header site-header--menu-left landing-11-menu site-header--absolute site-header--sticky">
  <div class="container">
    <nav class="navbar site-navbar">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="/">
          <!-- light version logo (logo must be black)-->
          <img src="image/logo/logo-black.png" alt="" class="light-version-logo">
          <!-- Dark version logo (logo must be White)-->
          <img src="image/logo/logo-white.png" alt="" class="dark-version-logo">
        </a>
      </div>
      <div class="menu-block-wrapper">
        <div class="menu-overlay"></div>
        <nav class="menu-block" id="append-menu-header">
          <div class="mobile-menu-head">
            <div class="go-back">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="site-menu-main">
<!--             <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Dropdowns <i class="fas fa-angle-down"></i>
              </a>
              <ul class="sub-menu" id="submenu-9">
                <li class="sub-menu--item">
                  <a href="#">Dropdown 01</a>
                </li>
                <li class="sub-menu--item">
                  <a href="#">Dropdown 02</a>
                </li>
                <li class="sub-menu--item">
                  <a href="#">Dropdown 03</a>
                </li>
                <li class="sub-menu--item">
                  <a href="#">Dropdown 04</a>
                </li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a href="https://store.poronesia.com" target="_blank" class="nav-link-item">Digital Store</a>
            </li>
            <li class="nav-item">
              <a href="#Feature" class="nav-link-item">Features</a>
            </li>
            <li class="nav-item">
              <a href="#testimonial" class="nav-link-item">Testimonial</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-btns  header-btn-l11 ms-auto d-none d-xs-inline-flex align-items-center">
        <!-- <a class="btn log-in-btn focus-reset" href="#">
          Log in
        </a> -->
        <a class="download-trail-btn btn focus-reset" href="#contact">
          Contact Us
        </a>
      </div>
      <!-- mobile menu trigger -->
      <div class="mobile-menu-trigger">
        <span></span>
      </div>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>