    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="title" content="{{ .Title }}">
    <meta name="description" content="Agency Design Graphic Indonesian Based. Poronesia adalah agensi desain kreatif dari Indonesia yang membantu bisnis atau personal seseorang berkembang.">
    <meta name="keywords" content="Poronesia, Agensi Desain, Agency Creative, Desain Sosial Media, Desain Spanduk, Desain Feed Instagram.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Poronesia">
    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="Agency Design Graphic Indonesian Based. Poronesia adalah agensi desain kreatif dari Indonesia yang membantu bisnis atau personal seseorang berkembang." />
    <meta property="og:image" content="https://poronesia.com/image/l2/laptop-screen-2.png" />
    <meta property="og:url" content="https://poronesia.com" />
    <meta property="og:site_name" content="{{ .Title }}" />
    <!-- Open Graph End -->
    <!-- Twitter Tag -->
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="Agency Design Graphic Indonesian Based. Poronesia adalah agensi desain kreatif dari Indonesia yang membantu bisnis atau personal seseorang berkembang.">
    <meta name="twitter:image" content="https://poronesia.com/image/l2/laptop-screen-2.png">
    <meta name="twitter:site" content="@poronesiacom">
    <meta name="twitter:creator" content="@poronesiacom">
    <!-- Twitter Tag End -->
    <meta name="google-site-verification" content="HLp9up0k18-mjT-d4T2m13OEOCvUFYNeEdLqYoe86LI" />
    <link rel="shortcut icon" href="image/favicon2.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/fonts/icon-font/css/style.css">
    <link rel="stylesheet" href="/fonts/typography-font/typo.css">
    <link rel="stylesheet" href="/fonts/fontawesome-5/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Plugin'stylesheets  -->
    <link rel="stylesheet" href="/plugins/aos/aos.min.css">
    <link rel="stylesheet" href="/plugins/slick/slick.min.css">
    <!-- Vendor stylesheets  -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Custom stylesheet -->

    <!-- Pop Up -->
    <link rel="stylesheet" href="/css/popup2.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cb66169f21.js" crossorigin="anonymous"></script>